@import '~antd/lib/style/themes/default.less';

.ant-pro-page-container-children-content {
  height: 600px !important;
}

.titleBox {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.titleLogo {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
}

.titleContent {
  margin: auto 2px;
  font-weight: 600;
  font-size: 54px;
  vertical-align: middle;
}
